<div [ngClass]="{'horizontal-scroll-container': isScreenNarrow()}" class="players-container">
@for (player of game.players; track player; let i = $index) {
    <app-player (click)="editPlayer(i)" [ngStyle]="isScreenNarrow() ? {'left.px': 20 + (i * 130)} : {'top.px': 50 + (i * 130)}" [playerActive]="i == game.currentPlayer" [ngClass]="'player-position'" [name]="player"></app-player>    
}
</div>


<div class="field">
    <div class="card-stack">
        <!-- Stapel -->
        @for (card of [0,1,2,3,4]; track card; let i = $index) {
            <img [ngStyle]="{'right.px': i*5}" src="assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="takeCard()" [ngClass]="'top-card'" [ngStyle]="{'right.px': 25}" src="assets/img/cards/card_cover.png" alt="">
        
        <!-- Played Card -->
        @for (card of game.playedCards; track card) {
            <img src="assets/img/cards/{{card}}.png" [ngClass]="'played-card'"  alt="">
        }
        
        <!-- Flying Card -->
        @if (game.pickCardAnimation) {
            <img (click)="takeCard()" [ngClass]="'pick-card'" [ngStyle]="{'right.px': 25}" src="assets/img/cards/{{game.currentCard}}.png" alt="">
        }
    </div>
</div>

<app-game-info [card]="game.currentCard || ''" [ngClass]="'pin-bottom'"></app-game-info>

<button (click)="openDialog()" mat-fab [ngClass]="'btn-add'">
    <mat-icon >add</mat-icon>
  </button>


